@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    margin: 0;
}

.container {
    width: 414px;
    background-color: #E5E5E5;
}
.topo {
    position: fixed;
    background-color: #CF2B2B;
    width: 414px;
    height: 92px;
    padding-left: 21px;
}
.topo h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 5px;
}
.topo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #FFFFFF;
    margin: 0;
}
.container-food {
    margin-top: 92px;
}
.container-food, .container-drink, .container-dessert{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow: scroll;
}

.title-food h1, .title-drink h1, .title-dessert h1{
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-left: 21px;
}
.food, .drink, .dessert{
    width: 100%;
    padding-left: 19px;
    font-family: 'Roboto', sans-serif;
}
.prato, .bebida, .sobremesa {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    display: block;
    padding-left: 14px;
    padding-top: 18px;
    border-radius: 9px;
}
.prato img, .bebida img, .sobremesa img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.prato h4, .bebida h4, .sobremesa h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
}
.prato p {
    margin-bottom: 5px;
    margin-top: 0;
}
.prato p, .bebida p, .sobremesa p {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}
.prato :nth-child(5) {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.bebida :nth-child(5) {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.bebida :nth-child(4) {
    color: #000000;
}
.dessert :nth-child(4) {
    color: #000000;
}
.sobremesa :nth-child(5) {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.dessert {
    margin-bottom: 10px;
}
.container-food::-webkit-scrollbar {
    display: none;

}
.container-drink::-webkit-scrollbar {
    display: none;

}
.container-dessert::-webkit-scrollbar {
    display: none;

}
.container-button {
    background-color: #FFFFFF;
    width: 414px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
button {
    background-color: #CBCBCB;
    align-items: center;
    width: 362px;
    height: 62px;
    border-radius: 50px;
    border: none;

}
button {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;

}